/* style 공통 */
.subPage-tit {
    position: relative;
    height: 400px;
}

.subPage-tit p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 2;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.subPage-bg {
    height: 100%;
    background: url(../images/subPage1.png) no-repeat center;
    background-size: cover;
}

.subPage-overlay {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.subPage-nav {
    position: sticky;
    top: 0px;
    z-index: 10000;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}

.subPage-nav .wrap {
    padding: 0;
}

.subPage-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.subPage-nav ul li {
    width: 33.3333%;
    position: relative;
    border-bottom: 2px solid #fff;
}

.subPage-nav ul li.active {
    font-weight: 600;
    border-bottom: 2px solid #071F75;
}

.subPage-nav ul li:hover {
    border-bottom: 2px solid #ebebeb;
}

.subPage-nav ul li.active:hover {
    border-bottom: 2px solid #071F75;
}

.subPage-nav ul li.active a {
    color: #071F75;
}

.subPage-nav ul li ~ li::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #ebebeb;
}

.subPage-nav ul li a {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.content {
    padding: 0 50px;
}

.content-tit {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 200px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.content-tit h2 {
    min-height: 50px;
    padding: 20px 0 10px;
}

.content-tit span {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    padding: 20px 0;
}

.content-tit p {
    padding: 20px 0 0;
    font-size: 16px;
}

/* sub1-1 인사말 */

.content-img {
    position: relative;
    height: 300px;
    background: url(../images/subPage1-content-img.png) no-repeat center;
}

.content-img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.content-img p b {
    display: block;
    padding-bottom: 20px;
    font-size: 42px;
}

.sub1-1 .content-text {
    padding-top: 50px;
}

.content-text {
    position: relative;
    padding: 0 0 50px;
    line-height: 30px;
}

.content-text .logo {
    position: absolute;
    right: 0;
    bottom: 0;
}


/* sub1-2 주요연혁 */
.content-tab {
    display: flex;
    justify-content: center;
    height: 60px;
}

.content-tab ul {
    display: flex;
    width: 100%;
}

.content-tab ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    height: 60px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.content-tab ul li ~ li {
    border-left: none;
}

.content-tab ul li.active {
    background-color: #071F75;
    color: #fff;
}

.content-tab ul li:hover {
    background-color: #ebebeb;
}

.content-tab ul li.active:hover {
    background-color: #071F75;
    color: #fff;
}

.history-list {
    position: relative;
    margin: 50px 0 0;
}

.history-year {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    font-size: 36px;
    font-weight: 600;
    color: #071F75;
}

.history-year span {
    position: relative;
    padding: 10px 100px 10px 0;
}

.history-year span::after {
    position: absolute;
    top: 24px;
    right: 35px;
    display: block;
    content: "";
    width: 40px;
    height: 2px;
    border-top: 1px solid #071F75;
}

.history-year::after {
    display: block;
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40%;
    border-left: 1px solid #ebebeb;
}

.history-month {
    position: relative;
    width: 60%;
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
    color: #212121;
}

.history-month li {
    position: relative;
    padding-left: 20px;
}

.history-month li::before {
    position: absolute;
    top: 14px;
    left: 5px;
    display: block;
    content: "";
    width: 5px;
    height: 1px;
    background-color: #bebebe
}

.history-month::before {
    position: absolute;
    top: 16px;
    left: -10px;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 16px;
    z-index: 1;
    background: url(../images/history-ico.png) no-repeat center;
}

/* sub1-3 오시는길 */
.sub1-3 .content-text {
    padding: 0;
}

.map-wrap {
    display: flex;
    justify-content: center;
}

.adress {
    padding-top: 50px;
}

.adress > ul {
    border-top: 2px solid #071F75;
}

.adress > ul > li {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
}


.adress-tit {
    display: inline-block;
    width: 130px;
    text-align: center;
}

/* .public-transport {
    display: flex;
    align-items: center;
}
 */
.public-transport ul {
    width: 100%;
}

.public-transport ul li {
    display: flex;
    padding: 10px 0;
}

.public-transport ul li div {
    display: flex;
}

.transport-tit {
    width: 100px;
    text-align: center;
}

.subway-ico {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}

.subway-ico1 {
    background-color: #fc4c02;
}

.subway-ico2 {
    background-color: #67823a;
}

/* sub2-1 인사말 */
.sub2-1 h3 {
    /* text-align: center; */
    padding: 0 0 50px;
    font-size: 32px;
}

.sub2-1 .content-bottom {
    padding-top: 50px;
}

.sub2-1 .content-bottom img {
    width: 100%;
    object-fit: contain;
}

/* sub2-2 윤리경영 */
.sub2 .content-text {
    display: flex;
    flex-flow: column;
    padding: 0 0 50px;
}

.sub2 .content-item {
    display: flex;
    flex-flow: row nowrap;
  /*   margin-bottom: 50px; */
}

.sub2 .content-item:nth-child(odd) .content-item-inner {
    flex-flow: row-reverse nowrap;
}

.sub2 .content-item-inner {
    display: flex;
    width: 100%;
}

.sub2 .content-item-inner div{
    width: 50%;
   /*  padding-top: 28.125%; */
}

.sub2 .content-item-inner div:last-child {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
}

.sub2 .content-item-inner div img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
}

.sub2 .content-item-inner div span {
    color: #071F75;
    font-size: 18px;
    font-weight: 600;
}

.subPage-nav ul li a.subPage-nav-mobile {
    display: none;
}



@media all and (max-width: 1023px) {
    /* style 공통 */
    .content {
        padding: 0 20px;
    }

}

@media all and (max-width: 767px) {
    /* sub1-2 오시는길 */
    .history-year span {
        padding: 10px 30px;
    }
    
    .history-year span::after {
        display: none;
    }

    /* sub1-3 오시는길 */
    .adress-tit {
        width: 100px;
    }

    .transport-tit {
        text-align: left;
    }

    .public-transport ul li {
        flex-flow: column;
        padding: 10px;
    }

    /* sub2-2 윤리경영 */

    .sub2 .content-item {
        flex-flow: column nowrap;
        margin-bottom: 20px;
    }

    .sub2 .content-item:nth-child(odd) .content-item-inner {
        flex-flow: column nowrap;
    }

    .sub2 .content-item-inner {
        flex-flow: column nowrap;
    }

    .sub2 .content-item-inner div{
        width: 100%;
    }



 

    
}

@media all and (max-width: 440px) {
    /* sub1-2 오시는길 */
    .history-list {
        position: relative;
    }
    
    .history-year {
        flex-flow: column;
        padding: 0;
    }
    
    .history-year span {
        padding: 20px 10px;
    }
    
    .history-year::after {
        display: none;
    }
    
    .history-month {
        width: 100%;
        padding: 0 10px;
    }

    
    .history-month::before {
        display: none;
    }

    .history-month li {
        padding-left: 10px;
    }
    
    .history-month li::before {
        left: -2px;
    }

    /* sub1-3 오시는길 */
    .subway-ico {
        display: none;
    }
    
}


@media all and (max-width: 400px) {
    /* style 공통 */
    .subPage-nav ul li a.subPage-nav-mobile {
        display: block;
    }

    .subPage-nav ul li a.subPage-nav-pc {
        display: none;
    }
    
    .subPage-nav ul {
        height: 80px;
     }

    .subPage-nav ul li {
        height: 100%;
    }

    .subPage-nav ul li a,
    .subPage-nav ul li a.subPage-nav-mobile  {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0;
    }

    .content {
        padding: 0;
    }

    .content-text .logo {
        bottom: -20px;
    }

}
