.sub2 .content-text {
    display: flex;
    flex-flow: row nowrap;
}

.content-left,
.content-right {
    display: flex;
    flex-flow: column;
    width: 50%;
}

.content-left > div ,
.content-right > div {
    display: flex;
    flex-flow: column;
}

.content-left {
    padding-right: 40px;
}

.content-right {
    padding-left: 40px;
}

.con-img {
    aspect-ratio: 3/2;
    background-color: #b5b5b5;
}

.con-text {
    padding: 40px 0;
}
