/* sub6-1 채용공고 */
.content-text {
    padding-top: 0;
}

.employment-list {
    border-top: 2px solid #071F75;
}

.employment-list li {
    padding: 30px 20px 50px;
    border-bottom: 1px solid #ebebeb    ;
}

.employment-list li:hover {
    background-color: #f8f8f8;
}

.employment-list li a {
    display: flex;
    flex-flow: column nowrap;
}

.employment-list .top,
.employment-list .bottom {
    display: flex;
    justify-content: space-between;
}

.employment-list .top {
    padding-bottom: 30px;
}

.employment-list .top p {
    font-weight: 600;
    color: #071F75;
}

.employment-list .top p.invalid {
    color: red;
}

.employment-list .top span {
    color: #666;
}

.employment-list .bottom {
    align-items: flex-end;
}

.employment-list .bottom p {
    width: calc(100% - 180px);
    font-size: 24px;
}

.employment-list .bottom p span {
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
}

.employment-list .bottom > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px solid #c6c6c6;
    background-color: initial;
    transition: all 0.2s;
}


.employment-list .bottom > span:hover {
    background-color: #071F75;
    color: #fff;
}

/* sub6-2 채용문의 */   
.sub6-2 .content-bottom {
    text-align: center;
    padding: 20px 0;
}

.inquiry-list {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0;
    border-top: 2px solid #071F75;
    /* border-bottom: 1px solid #ebebeb; */
}

.inquiry-list li {
    padding: 20px 10px;
}

.inquiry-list li,
.inquiry-list li > div {
    display: flex;
    flex-flow: row nowrap;
}

.inquiry-list li > div {
    width: 50%;
}

.inquiry-list label {
    width: 120px;
    text-align: center;
}

.inquiry-list input {
    width: calc( 100% - 120px);
    padding: 10px;
    border: 1px solid #ebebeb;
}

.inquiry-list textarea {
    width: 100%;
    min-height: 400px;
    padding: 10px;
    border: 1px solid #ebebeb;
    resize: none;
}

@media all and (max-width: 767px) {
    .inquiry-list li {
        padding: 10px;
    }
    .inquiry-list li:nth-child(2) {
        display: flex;
        flex-flow: column;
        padding: 0;
    }
    
    .inquiry-list li > div {
        width: 100%;
        padding: 10px;
    }

    .inquiry-list label {
        width: 80px;
    }
    
    .inquiry-list input {
        width: calc( 100% - 80px);
        padding: 10px 5px;
    }

    .inquiry-list textarea {
        padding: 10px 5px;
    }
    
    
}


@media all and (max-width: 500px) {
    /* sub6-2 채용공고*/    
    .employment-list li {
        padding: 30px 20px;
        border-bottom: 1px solid #ebebeb    ;
    }
    
    .employment-list .bottom {
        flex-flow: column;
        align-items: flex-start;
    }

    .employment-list .bottom p {
        width: 100%;
    }

    .employment-list .bottom button {
        margin-top: 20px;
        align-self: flex-end;
    }

    .employment-list .bottom button:hover {
        background-color: #071F75;
        color: #fff;
    }
}